.descripcion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1400px;
  margin-left: 260px;
}


.foto {
  width: 400px;
  z-index: 4;
  // flex-grow: 1;
}

.acerca-de {
  flex-grow: 1;
  margin-left: -35px;

}