<div class="descripcion">
  <div class="foto">
    <div style="display: flex;align-items: center;flex-direction: column;">
      <img style="width: 200px;border-radius: 50%;"
        src="https://i.pinimg.com/564x/6c/23/dd/6c23ddce9db2e78f4c19c33d7d068014.jpg">
      <div style="margin-top:20px;display: flex;align-items: center;flex-direction: column;">
        <span>Killua Zoldyck</span>
        <span>Full Stack Developer Jr.</span>
      </div>
    </div>
  </div>
  <div class="acerca-de">
    <div>Hola! Soy juanito perez. Soy un Full Stack Developer Jr. con conocimientos en Angular y Java. Actualmente estoy cursando Licenciatura en Ciencias de la Computacion en la Universidad nacional de Rosario. y busco ampliar mis conocimientos en Web Development a través de los cursos de Argentina Programa.</div>
  </div>
</div>