<div style="display: flex; margin-bottom: 30px;">
  <img style="width: 200px;" src="https://i.pinimg.com/564x/6c/23/dd/6c23ddce9db2e78f4c19c33d7d068014.jpg">
  <div style="display: flex;flex:1;flex-direction: column; padding-left: 30px;">
    <div style="height: 20%;display: flex;align-items: center;"><span><h1>Título</h1></span></div>
    <div style="height: 80%;">
      <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque tempore veniam doloribus facere tenetur, eius, repellendus assumenda consequuntur minima nihil aut, excepturi eum accusantium distinctio pariatur fuga? Fugiat, necessitatibus tempora?</span>
    </div>
  </div>
</div>