<div style="display: flex; justify-content: center;">
  <div style="position: absolute;width: 1400px;">
    <div style="display: flex;align-items: flex-end;">
      <mat-card style="height: 318px;">
        <img mat-card-image
          src="https://media-exp1.licdn.com/dms/image/C4D16AQEY_Rcz9UbwWw/profile-displaybackgroundimage-shrink_350_1400/0/1632867758865?e=1657756800&v=beta&t=YanwizYUaY7dhB8f_jPL11zXafjecpHElAJ3HDxzKG4"
          alt="Banner">
      </mat-card>
    </div>
  </div>
  <div style="position: absolute;top:360px">
    <app-descripcion></app-descripcion>
  </div>
</div>